/* Style for the loader container */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}


.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Text message */
.loader-container p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: bisque;
}
body {
    background: linear-gradient(to right, #2b2d42, #8d99ae);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-color: rgb(21, 21, 48);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}
.loading p {
    color: bisque; 
}


.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: relative;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(20% - 50px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(0deg);
    }to{
        transform: perspective(1000px) rotateX(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateX(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(450px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content{
    position: relative;
    left: 0;
    padding-left: 20px;
    transform: translate(-50%);
    width: 20%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}
.banner .content h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 7em;
    line-height: 1em;
    color: bisque;
}
.banner .content .author{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    max-width: 200px;
    color: bisque;
}
.banner .content h2{
    font-size: 1em;
    margin: 0;
}