/* I've searched up a tutorial on creating my homepage */
body {
    background: linear-gradient(to right, #2b2d42, #8d99ae);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-color: rgb(21, 21, 48);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: relative;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(20% - 50px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(0deg);
    }to{
        transform: perspective(1000px) rotateX(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateX(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(450px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content{
    position: relative;
    left: 0;
    padding-left: 20px;
    transform: translate(-50%);
    width: 20%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}
.banner .content h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 7em;
    line-height: 1em;
    color: bisque;
}
.banner .content .author{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    max-width: 200px;
    color: bisque;
}
.banner .content h2{
    font-size: 1em;
    margin: 0;
}

/* Base button styles */
a.button {
    display: block; 
    padding: 15px 25px;
    font-size: 1.2rem;
    background-color: #619df0; 
    color: white;
    text-decoration: none; 
    text-align: center;
    border-radius: 30px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 30px; 
    width: fit-content; 
}

a.button:hover {
    background-color: #f976f0; 
    transform: translateY(-5px); 
}

button {
    all: unset; 
    display: inline-block; 
}
